html {
  min-height: 100%;
}

body {
  background: #654d6b;
  background: -webkit-linear-gradient(
    210deg,
    rgba(101, 77, 107, 1) 5%,
    rgba(42, 50, 94, 1) 62%,
    rgba(0, 59, 71, 1) 100%
  );
  background: -moz-linear-gradient(
    210deg,
    rgba(101, 77, 107, 1) 5%,
    rgba(42, 50, 94, 1) 62%,
    rgba(0, 59, 71, 1) 100%
  );
  background: linear-gradient(
    210deg,
    rgba(101, 77, 107, 1) 5%,
    rgba(42, 50, 94, 1) 62%,
    rgba(0, 59, 71, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#654D6B", endColorstr="#003B47", GradientType=0);
}

.navbar-nav .active {
  color: rgba(255, 255, 255, 0.8) !important;
}

#top-nav::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: -1;
  pointer-events: none;
}

.show-btn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

.hide-btn {
  opacity: 0 !important;
}

.navbar-nav .hide-btn {
  position: absolute;
  display: none;
}

.page-link {
  background: transparent !important;
  color: #b9aebc;
  border: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  &:hover,
  &:focus {
    background: transparent !important;
    color: white !important;
  }
}

img[src=""] {
  display: none;
}

.post {
  width: 18rem;
  height: 24rem;
  background: rgb(238, 238, 238, 0);
  transition-property: scale, translate, box-shadow;
  transition-duration: 0.3s;
  cursor: pointer;

  * {
    user-select: none;
  }

  &:hover {
    scale: 1.03;
    translate: 0px -0.8rem;
  }
}

input:is([type="text"]),
input:is([type="password"]),
textarea,
label,
textarea::placeholder,
textarea::-webkit-input-placeholder {
  color: white !important;
  background: transparent !important;

  &:focus {
    color: white !important;
    background: transparent !important;
  }
}

input[type="file"]::file-selector-button {
  display: none;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: none;
  field-sizing: content;
}

.color-circle {
  display: block;
  width: 2rem;
  height: 2rem;
}

input[type="radio"] + span {
  border: solid 1px gray;
}

input[type="radio"]:checked + span {
  border: solid 2px white;
}
